/* responsive for small device */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        padding: 0 10px;
    }




    .banner-container .banner-input .input,
    .popular,
    .row-one {
        flex-direction: column;
        gap: 10px;
    }


    .banner-container .banner-text,
    .banner-container .banner-input {
        max-width: 90%;

    }




   

    .banner-container .banner-input .input button,
    .banner-container .banner-input .input input,
    .popular .text-section,
    .popular .img-section,
    .row-one .img {
        width: 100%;
    }

    .banner-container .banner-text h3 {
        font-size: 30px;
    }


}