/* responsive for small device */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
        padding: 0 10px;
    }




    .banner-container .banner-input .input,
    .popular,
    .row-one,
    .row-two,
    .row-three,
    .newsletter {
        flex-direction: column;
        gap: 10px;
    }


    


    .banner-container .banner-text,
    .banner-container .banner-input,
    .choose-text-section {
        max-width: 90%;

    }






    .banner-container .banner-input .input button,
    .banner-container .banner-input .input input,
    .popular .text-section,
    .popular .img-section,
    .row-one .img,
    .row-two .img-one,
    .row-two .img-two,
    .row-two .img-three,
    .row-one .card-one,
    .row-one .card-two,
    .row-two .card,
    .newsletter-text,
    .newsletter-img{
        width: 100%;

    }

    .row-one .card {
        margin-bottom: 10px;
    }





    .banner-container .banner-text h3 {
        font-size: 30px;
    }


    .newsletter-img .badge{
        padding: 12px 20px;
        border-radius: 8px;
    }


    .newsletter-img .badge p{
        font-size: 10px;
    }
    .newsletter-img .badge h4{
        font-size: 12px;
    }


}