@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap');

/* shared styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 81%;
    max-width: 1170px;
    margin: 5px auto;

    /* border: 2px solid palegreen; */
}

main section {
    margin-top: 100px;
}

h3 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
}

button {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 28px;
    border-radius: 8px;
    background-color: #FF5400;
    border: none;
}

.change-color {
    color: #FF5400;
}





/* nav related styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 0px;
}

.nav-text-left {
    width: 50%;
    /* border: 1px solid palegreen; */
}

.nav-text-right {
    width: 50%;
    /* border: 2px solid palevioletred; */
}

.nav-text-right {
    display: flex;
    justify-content: space-between;

}

.nav-text-left {
    display: flex;
    gap: 13px;
    align-items: center;
}

.nav-text-right a {
    text-decoration: none;
    color: #424247;
    font-size: 16px;
    font-weight: 400;
}

.nav-text-right a span {
    color: #FF5400;
    font-weight: 700;
}

.nav-text-right .hamber {
    display: none;
}



/* banner related styles */
.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    border-radius: 16px;

}

.banner-container {
    padding: 100px 0;
}

.banner-container .banner-text {
    max-width: 54%;
    margin: 0 auto;
    text-align: center;
}

.banner-container .banner-text h3 {
    color: #FFF;
    font-size: 51px;
    font-weight: 800;
    margin-bottom: 19px;
}

.banner-container .banner-text p {
    color: #FFF;

}

.banner-container .banner-input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 64%;
    margin: 0 auto;
    margin-top: 38px;
    padding: 13px;
}

.banner-container .banner-input .input {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-container .banner-input .input .select-box {
    width: 22%;
    font-size: 13px;
    color: rgba(19, 19, 24, 0.50);
    padding: 13px;
    font-weight: 800;
    border-radius: 8px;
    background-color: #FFF;
    outline: none;
    border: none;
}


.banner-container .banner-input .input input {
    width: 22%;
    font-size: 13px;
    padding: 13px;
    font-weight: 700;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    background-color: #FFF;
    border: none;
    outline: none;
}



.banner-container .banner-input .input button {
    width: 22%;
    padding: 13px 28px;
}

/* popular section related styles */


.popular {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.popular .text-section {
    width: 50%;
}

.popular .text-section p {
    margin: 28px 0px;
}

.popular .img-section {
    width: 50%;
}

.popular .img-section img {
    width: 100%;
}




/* destination section */

.destination-text {
    max-width: 52%;
    margin: 0 auto;
    text-align: center;
}

.destination-text * {
    margin-bottom: 18px;
}

.grid-container {
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-container img {
    width: 100%;
    height: 100%;

}

.grid-item-text p {
    font-size: 100%;
    color: #FFF;
    font-weight: 800;
    position: absolute;
    bottom: 48%;
    left: 41%;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    position: relative;
}

.grid-item-2 {

    grid-column: 7/span 6;
    grid-row: 1/span 1;
    position: relative;

}

.grid-item-3 {

    grid-column: 1/span 4;
    grid-row: 2/span 1;
    position: relative;
}

.grid-item-4 {

    grid-column: 5/span 5;
    grid-row: 2/span 1;
    position: relative;
}

.grid-item-5 {

    grid-column: 10/span 3;
    grid-row: 2/span 1;
    position: relative;
}

.grid-item-6 {

    grid-column: 1/span 5;
    grid-row: 3/span 1;
    position: relative;
}

.grid-item-7 {

    grid-column: 6/span 7;
    grid-row: 3/span 1;
    position: relative;
}

/* destination section */










/* choose us section relate styles */
.choose-text-section {
    max-width: 52%;
    margin: 0 auto;
    text-align: center;
}

.choose-text-section p {
    margin: 25px 0px;
}

.row-one {
    display: flex;
    gap: 19px;
    align-items: center;
}

.row-one .card-one {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 40px 40px;
}

.row-one .card-two {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px 40px;
}

.row-two .card {
    width: 50%;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px 40px;
    margin-top: 18px;
}

.card-container * h4 {
    margin: 18px 0;
}


/* newsletter related design */
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newsletter-text {
    width: 40%;
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 28px 0px;

}

.newsletter-form {
    width: 80%;
    margin: 10px auto;
    gap: 28px;
    display: flex;
    flex-direction: column;


}

.newsletter-form input {
    color: rgba(19, 19, 24, 0.30);
    font-size: 14px;
    padding: 13px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.newsletter-img {
    width: 60%;
    position: relative;
}

.newsletter-img img {
    width: 100%;
}

.newsletter-img .badge {
    position: absolute;
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
    background: #FF5400;
    padding: 30px 44px;
    right: 1%;
    bottom: 11%;
    transform: rotate(-19.628deg);
}

.newsletter-img .badge p {
    font-size: 16px;
    color: #FFF;
}

.newsletter-img .badge h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}


/* Clients review section */

.clients-section {
    text-align: center;
    padding: 60px 40px;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.clients-section .clients-text * {
    margin-bottom: 15px;
}

.clients-section .clients-text p {
    font-size: 20px;

}


.clients-item-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.clients {
    text-align: center;
    padding: 30px 30px;
    border-radius: 8px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin-top: 20px;

}


.clients-img img {
    border-radius: 50%;
    width: 40%;
    border: 3px solid palevioletred;
    padding: 8px;
}

.clients .desig {
    font-size: 18px;
    font-weight: 700;
}

.clients h4 {
    font-size: 20px;
    font-weight: 800;
}

.clients * {
    margin-bottom: 10px;
}




/* footer related styles */
footer {
    background-color: rgba(19, 19, 24, 0.05);
    padding: 70px 0px;
    margin-top: 100px;
}

.footer-container {
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
}

.footer-text p {
    margin: 14px 0px;
    max-width: 63%;
    margin: 0 auto;
}

.footer-text h3 {
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
}

.footer-text h3 span img {
    width: 100%;

}

.footer-icon .icon {

    font-size: 23px;
    margin-right: 16px;
}

.footer-icon {
    margin: 25px 0px;
}

.footer-foot {
    color: #131318;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
}